@import "tailwindcss";

@font-face {
    font-family: "inter";
    src: url("/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("wght"),
         url("/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("wght");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-light-green : #89D146;
    --color-dark-green : #076400;
    --color-primary-gray : #D2D2D2;

    --font-inter : "inter";

    --tracking-normal : 5px;

    --radius-base : 5px;
    --radius-medium : 10px;

    --breakpoint-md : 750px;
    --breakpoint-lg : 1100px;
    --breakpoint-xl : 1200px;
    --breakpoint-micro : 450px;
}

html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

.link::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background : none;
    left: 0;
    right: 0;
    top: 10%;
    border-bottom: 1px white solid;
    transform: scaleX(0%);
    z-index: 0;
    transition: 0.1s ease-in-out;
}

.link:hover::before{
    transform: scaleX(100%);
}


.write_effect_animation{
    border-right: 2px solid white;
    margin: 0 5px;
    animation: write_effect_animation 1s infinite;
}


@keyframes write_effect_animation {
    0%{
        border-color: transparent;
    }
    50%{
        border-color: white;
    }
    100%{
        border-color: transparent;
    }
}



.item {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.item:nth-child(1) {
  animation-name: move-left;
}

@keyframes move-left {
  from { transform: translateX(0); }
  to   { transform: translateX(-100%); }
}

.item:nth-child(3) {
  animation-name: move-right;
}

@keyframes move-right {
  from { transform: translateX(0); }
  to   { transform: translateX(100%); }
}

.scrollbar-hide { 
    scrollbar-width: none;
 }

 .scrollbar-hide::-webkit-scrollbar { 
    display: none; 
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.experience-icon{
    background-color: var(--color-black);
    position: relative;
}

.experience-icon::before{
    width : 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    content: "";
    border-radius: var(--radius-base);
    z-index: -1;
    top: 0;
    left: 0;
    animation: create-border 0.5s ease-in forwards , set-background 0.7s 0.7s ease-in-out forwards;
    border: solid 1px var(--color-light-green);
    clip-path: inset(0 0 100% 0);
}

.experience-card{
    position: relative;
}

.experience-card::before{
    width : 2px;
    height: 100%;
    background-color: var(--color-light-green);
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--text-2xl) / 2 + var(--spacing) * 2);
    clip-path: inset(0 0 100% 0);
    animation: create-border 0.5s ease-in forwards;
}

@keyframes create-border{
    to{
        clip-path: inset(0 0 0 0 );
    }
}

@keyframes set-background {
    to{
        background-color: var(--color-light-green);
    }
}