@import "tailwindcss";

@font-face {
    font-family: "inter";
    src: url("/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("wght"),
         url("/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("wght");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-light-green : #11FA00;
    --color-dark-green : #076400;
    --color-primary-gray : #D2D2D2;

    --font-inter : "inter";

    --tracking-normal : 5px;

    --breakpoint-md : 750px;
    --breakpoint-lg : 1100px;
    --breakpoint-xl : 1200px;
    --breakpoint-micro : 450px;
}

html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

.link::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background : none;
    left: 0;
    right: 0;
    top: 10%;
    border-bottom: 1px white solid;
    transform: scaleX(0%);
    z-index: 0;
    transition: 0.1s ease-in-out;
}

.link:hover::before{
    transform: scaleX(100%);
}


.write_effect_animation{
    border-right: 2px solid white;
    margin: 0 5px;
    animation: write_effect_animation 1s infinite;
}


@keyframes write_effect_animation {
    0%{
        border-color: transparent;
    }
    50%{
        border-color: white;
    }
    100%{
        border-color: transparent;
    }
}



.item {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.item:nth-child(1) {
  animation-name: move-left;
}

@keyframes move-left {
  from { transform: translateX(0); }
  to   { transform: translateX(-100%); }
}

.item:nth-child(3) {
  animation-name: move-right;
}

@keyframes move-right {
  from { transform: translateX(0); }
  to   { transform: translateX(100%); }
}

.scrollbar-hide { 
    scrollbar-width: none;
 }

 .scrollbar-hide::-webkit-scrollbar { 
    display: none; 
}